<!DOCTYPE html>
<html>
<head>
    <title>Saúde &amp; Cia - Lista de Pacientes</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-lista">
        <a class="navbar-brand" th:href="@{/secretaria}">
            <img th:src="@{/img/man.png}" alt="Saúde e Cia" width="30"/>
            <span>Lista de Consultas</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobile-menu"
                aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-menu">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="hasRole('ROLE_MEDICO')" class="nav-item">
                    <a class="nav-link" th:href="@{'/medico'}">Médico</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SECRETARIA')" class="nav-item">
                    <a class="nav-link" th:href="@{'/secretaria'}">Secretária</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-warning mb-3">
                <div class="card-header">Menu da Secretária</div>
                <div class="card-body text-warning">
                    <h4 class="card-title">Lista de consultas</h4>
                    <p class="card-text">Abaixo é exibido a lista de todas as consultas cadastradas no sistema.<br/>É
                        possível editá-las ou excluí-las</p>
                    <br/>
                    <div th:if="${sucesso}">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span th:text="${sucesso}"></span>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm table-responsive">
                        <thead>
                        <tr class="text-center">
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Médico</th>
                            <th>Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="consulta: ${consultas}" class="text-center">
                            <td th:text="${consulta.paciente.nome}"></td>
                            <td th:text="${#dates.format(consulta.dataConsulta, 'dd/MM/yyyy')}"></td>
                            <td th:text="${consulta.hora}"></td>
                            <td th:text="${consulta.medico}"></td>
                            <td th:text="${consulta.tipoConsulta}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('[rel="tooltip"]').tooltip();
</script>
</body>
</html>