<!DOCTYPE html>
<html>
<head>
    <title>Saúde &amp; Cia - Secretária</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" th:href="@{/secretaria}">
            <img th:src="@{/img/princess-leia.png}" alt="Saúde e Cia" width="30"/>
            <span>Secretária</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobile-menu"
                aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Médico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notificações</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:if="${sucesso}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${sucesso}"></span>
                </div>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-expanded="true">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-expanded="true">Consultas</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card border-danger mb-3" style="max-width: 100%;">
                        <div class="card-header">Menu da Secretária</div>
                        <div class="card-body text-danger">
                            <h4 class="card-title">Clique sobre a opção desejada</h4>
                            <div class="container">
                                <ul class="nav text-center">
                                    <li class="nav-item col-6 secretaria-menu">
                                        <img th:src="@{/img/happy.png}" height="128" width="128"/>
                                        <br/>
                                        <a th:href="@{/secretaria/novo}">
                                            <button type="button" class="btn btn-dark">Cadastrar Paciente</button>
                                        </a>
                                    </li>
                                    <li class="nav-item col-6 secretaria-menu">
                                        <img th:src="@{/img/wink.png}" height="128" width="128"/>
                                        <br/>
                                        <a th:href="@{secretaria/list}">
                                            <button type="button" class="btn btn-dark">Lista de Pacientes</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card border-danger mb-3" style="max-width: 100%;">
                        <div class="card-header">Menu da Secretária</div>
                        <div class="card-body text-danger">
                            <h4 class="card-title">Clique sobre a opção desejada</h4>
                            <div class="container">
                                <ul class="nav text-center">
                                    <li class="nav-item  col-6 secretaria-menu">
                                        <img th:src="@{/img/clipboard.png}" height="128" width="128"/>
                                        <br/>
                                        <a th:href="@{/secretaria/consulta}" class="btn btn-dark">Agendar Consulta</a>
                                    </li>
                                    <li class="nav-item col-6 secretaria-menu">
                                        <img th:src="@{/img/analytics.png}" height="128" width="128"/>
                                        <br/>
                                        <a th:href="@{/secretaria/listConsulta}" class="btn btn-dark">Listar Consultas</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-dropdown1" role="tabpanel" aria-labelledby="pills-dropdown1-tab">
                    ...
                </div>
                <div class="tab-pane fade" id="pills-dropdown2" role="tabpanel" aria-labelledby="pills-dropdown2-tab">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>