<!DOCTYPE html>
<html>
<head>
    <title>Saúde &amp; Cia - Lista de Pacientes</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-lista">
        <a class="navbar-brand" th:href="@{/medico}">
            <img th:src="@{/img/man.png}" alt="Saúde e Cia" width="30"/>
            <span>Lista de Pacientes</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobile-menu"
                aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notificações</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-warning mb-3">
                <div class="card-header">Menu do Médico</div>
                <div class="card-body text-warning">
                    <h4 class="card-title">Lista de pacientes</h4>
                    <p class="card-text">Abaixo é exibido a lista de todos os pacientes cadastrados no sistema.<br/></p>
                    <br/>
                    <table class="table table-bordered table-striped table-sm table-responsive">
                        <thead>
                        <tr class="text-center">
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Visualizar</th>
                            <th>Prescrição</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="paciente: ${pacientes}" class="text-center">
                            <td th:text="${paciente.cpf}"></td>
                            <td th:text="${paciente.nome}"></td>
                            <td th:text="${#dates.format(paciente.dataNascimento, 'dd/MM/yyyy')}"></td>
                           <td>
                                <a class="btn btn-link btn-xs" th:href="@{'/medico/' + ${paciente.id} }" title="Visualizar" rel="tooltip"
                                   data-placement="top">
                                    <img th:src="@{/img/love.png}" width="40" height="40"/>
                                </a>
                           </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('[rel="tooltip"]').tooltip();
</script>
</body>
</html>