<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="pt-br">
    <title th:text="${update} == true ? 'Saúde &amp; Cia - Editar Paciente' : 'Saúde &amp; Cia - Cadastro de Paciente'"></title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" th:href="@{/secretaria}">
            <img th:src="@{/img/princess-leia.png}" alt="Saúde e Cia" width="30"/>
            <span>Secretária</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobile-menu"
                aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Médico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notificações</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark">
                <div class="card-header" th:text="${update} == true ? 'Editar Paciente' : 'Cadastrar Paciente' "></div>
                <div class="card-body text-dark">
                    <h4 class="card-title">Digite as informações do Paciente</h4>
                    <form method="POST"
                          th:action="@{${update} == true ? '/secretaria/' + ${paciente.id} : '/secretaria'}"
                          th:object="${paciente}">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nome" class="col-form-label">Nome Completo<span class="obrigatorio">*</span> </label>
                                <input id="nome" class="form-control" placeholder="Digite o nome completo" type="text"
                                       th:field="*{nome}" required="required" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cpf" class="col-form-label">CPF<span class="obrigatorio">*</span></label>
                                <input id="cpf" class="form-control" placeholder="Digite o CPF" type="text"
                                       th:field="*{cpf}" th:readonly="${update} == true ? 'readonly' : false" required="required" th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="dataNascimento" class="col-form-label">Data de nascimento<span class="obrigatorio">*</span></label>
                                <input id="dataNascimento" type="text" class="form-control" th:field="*{dataNascimento}"
                                       placeholder="dd/mm/yyyy" required="required" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12">
                                <label for="endereco" class="col-form-label">Endereço<span class="obrigatorio">*</span></label>
                                <input id="endereco" type="text" class="form-control" placeholder="Endereço, Nro"
                                       th:field="*{endereco}" required="required" th:classappend="${#fields.hasErrors('endereco')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12">
                                <label for="complemento" class="col-form-label">Complemento</label>
                                <input id="complemento" type="text" class="form-control"
                                       placeholder="Apartmento, casa, andar" th:field="*{complemento}"/>
                                <div th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-4">
                                <label for="telefone" class="col-form-label">Telefone</label>
                                <input id="telefone" type="text" class="form-control" placeholder="Digite o telefone"
                                       th:field="*{telefone}" th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-4">
                                <label for="email" class="col-form-label">Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Digite o email"
                                       th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                      class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label">Estado<span class="obrigatorio">*</span></label>
                                <select class="form-control" th:field="*{estado}">
                                    <option th:each="sigla : ${T(com.secomp.clinica.model.enuns.Estado).values()}"
                                            th:value="${sigla}"
                                            th:text="${sigla.estado}"></option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="cidade" class="col-form-label">Cidade<span class="obrigatorio">*</span></label>
                                <input id="cidade" type="text" class="form-control" required="required" placeholder="Digite a cidade"
                                       th:field="*{cidade}" th:classappend="${#fields.hasErrors('cidade')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"
                                      class="invalid-feedback"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="${update} == true ? 'Atualizar' : 'Cadastrar'"></button>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Cancelar
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" th:text="${update} == true ? 'Cancelar Atualização' : 'Cancelar Cadastro'"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" th:text="${update} == true ? 'Tem certeza que deseja cancelar a atualização do paciente?' : 'Tem certeza que deseja cancelar o cadastro de paciente?'">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não
                                        </button>
                                        <a th:href="@{/secretaria}">
                                            <button type="button" class="btn btn-primary">Sim</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /* <![CDATA[ */
    $(document).ready(function () {
        $('#cpf').mask('000.000.000-00');
        $('#dataNascimento').mask('00/00/0000', {placeholder: "__/__/____"});
        $('#telefone').mask('(00) 00000-00000');
    });
    $('#dataNascimento').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        language: 'pt-BR'
    });
    /* ]]> */
</script>
</body>
</html>