<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Saúde &amp; Cia - Novo Usuário</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 align-middle registro">
            <div th:if="${erro}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span th:text="${erro}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-info">
                    <b>Novo Usuário</b>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Entre com os dados para criar a sua conta!
                    </h4>
                    <form th:action="@{/register}" th:object="${usuario}" method="post">
                        <div class="form-row">
                            <div class="form-group col-12 col-lg-6">
                                <label for="nome">Nome<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{nome}" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="sobrenome">Sobrenome<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{sobrenome}" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-8">
                                <label for="endereco">Endereco</label>
                                <input class="form-control" type="text" th:field="*{endereco}"/>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="numero">Número</label>
                                <input class="form-control" type="text" th:field="*{numero}"/>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label>Sexo<span class="obrigatorio">*</span></label><br/>
                                <div th:each="sexo : ${T(com.secomp.clinica.model.enums.Sexo).values()}" class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sexo" th:value="${role}" th:text="${sexo.sexo}"/>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <label for="nascimento" class="col-form-label">Data de nascimento<span class="obrigatorio">*</span></label>
                                <input id="nascimento" type="text" class="form-control" th:field="*{nascimento}"
                                       placeholder="dd/mm/yyyy" required="required" th:classappend="${#fields.hasErrors('nascimento')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('nascimento')}" th:errors="*{nascimento}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="cpf" class="col-form-label">CPF<span class="obrigatorio">*</span></label>
                                <input id="cpf" class="form-control" placeholder="Digite o CPF" type="text"
                                       th:field="*{cpf}" th:readonly="${update} == true ? 'readonly' : false" required="required" th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="invalid-feedback"></div>
                                <span id="CPFerror" class="invalid-feedback" role="alert"></span>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label class="col-form-label">Estado<span class="obrigatorio">*</span></label>
                                <select class="form-control" th:field="*{estado}">
                                    <option th:each="sigla : ${T(com.secomp.clinica.model.enums.Estado).values()}"
                                            th:value="${sigla}"
                                            th:text="${sigla.estado}"></option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="cidade" class="col-form-label">Cidade<span class="obrigatorio">*</span></label>
                                <input id="cidade" type="text" class="form-control" required="required" placeholder="Digite a cidade"
                                       th:field="*{cidade}" th:classappend="${#fields.hasErrors('cidade')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="telefone" class="col-form-label">Telefone</label>
                                <input id="telefone" type="text" class="form-control" placeholder="Digite o telefone"
                                       th:field="*{telefone}" th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="email" class="col-form-label">Email<span class="obrigatorio">*</span></label>
                                <input id="email" type="email" class="form-control" placeholder="Digite o email"
                                       th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" required="required"/>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="role">Tipo de Usuário<span class="obrigatorio">*</span></label><br/>
                                <div th:each="rl : ${T(com.secomp.clinica.model.enums.Role).values()}" class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="role" th:value="${rl}" th:text="${rl.role}"/>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="username">Username<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="text" th:field="*{username}" required="required"/>
                                <span id="userErro" class="invalid-feedback" role="alert"></span>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="password">Password<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="password" th:field="*{password}" required="required"/>
                            </div>
                            <div class="form-group col-12 col-lg-4">
                                <label for="confirm">Confirme seu password<span class="obrigatorio">*</span></label>
                                <input class="form-control" type="password" id="confirm" name="confirm" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/login}" class="btn btn-secondary" style="float: left;">Voltar</a>
                            <button id="btn-subimit" style="float: right" type="submit" class="btn btn-primary">Cadastrar</button>
                            <div style="clear: both"></div>
                        </div>
                    </form>
                    <script>
                        /* <![CDATA[ */
                        $(document).ready(function () {
                            $('#cpf').mask('000.000.000-00');
                            $('#nascimento').mask('00/00/0000', {placeholder: "__/__/____"});
                            $('#telefone').mask('(00) 0000-00000').keyup(function () {
                                var size = $(this).val().length;
                                if(size > 14)
                                    $(this).mask('(00) 00000-0000')
                            });
                        });
                        $('#nascimento').datepicker({
                            format: 'dd/mm/yyyy',
                            autoclose: true,
                            language: 'pt-BR'
                        });
                        $('#cpf').focusout(function () {
                            var cpf = validaCPF();
                            if(cpf) {
                                $(this).removeClass('is-invalid');
                                $('#btn-subimit').attr('disabled', false);
                            } else {
                                $(this).addClass('is-invalid');
                                $('#CPFerror').text("CPF Inválido");
                                $('#btn-subimit').attr('disabled',true);
                            }
                        });
                        $('#username').focusout(function () {
                            $.ajax({
                                type: "POST",
                                data: {
                                    username: $(this).val()
                                },
                                cache: false,
                                url: "/register/username",
                                success: function (data) {
                                    if(data) {
                                        $('#username').removeClass('is-invalid');
                                        $('#btn-submit').attr('disabled', false);
                                    } else {
                                        $('#btn-submit').attr('disabled', true);
                                        $('#username').addClass('is-invalid');
                                        $('#userErro').text("Usuário já está em uso");
                                    }
                                }
                            });
                        });
                        /* ]]> */
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>